 .prix
{
    width: 28.55%;
}
li:hover .prix {
    transform: translateX(-91.9%);
    display: flex;
    justify-content: space-around;
} 

li:hover #point
{
    display: none;
}
li:hover .ellipsis
    {
        width: 75%;
       
    }
@media only screen and (min-width: 375px)
{
    .prix
    {
        width: 16%;
        /* margin-top: 24px; */
    }
    li:hover .overlay
    {
        width: 13%;
        left: 87%;
    }
    li:hover .ellipsis
    {
        width: 100%;
       
    }

}
@media only screen and (min-width: 768px)
{
    .prix
    {
        width: 10%;
        /* margin-top: 24px; */
    }
    li:hover .overlay
    {
        width: 8%;
        left: 92%;
    }
  

}

@media only screen and (min-width: 1024px) 
{
    .prix
    {
        width: 24.15%;
        margin-top: 24px;
    }
    li:hover .prix
    {
        transform: translateX(-114.3%);
    }
    li:hover .point , li:hover #point
    {
        display: block;
        display: inline-flex;
        text-align: left;
    }
    li:hover .overlay
    {
        width: 15%;
        left: 85%;
    }
    li:hover .ellipsis
    {
        width: 70%;
       
    }
}
 @media only screen and (min-width: 1440px)
{
    .prix
    {
        width: 17%;
        /* margin-top: 30px; */
    }
    li:hover .point, li:hover #point
    {
        display: none;
    }
    li:hover .overlay
    {
        width: 13%;
        left: 87%;
    }
    li:hover .ellipsis
    {
        width: 100%;
    }
} 
